// Style de la nabar et retrait bullet points
.navbar {
  display: flex;
  justify-content: space-between;
  line-height: 100px;
  position: relative;
  background-color: #A761B7;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 20px;
}

// Retirer underlining sur liens
.navbar li a {
  text-decoration: none;
  color: white;
}

// Style de l'avatar
.avatar-small {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

// Style du logo
.logo {
  position: absolute;
  width: 400px;
}
